.skills_section {
    padding: 4rem 0;
    background-color: #222;
    color: white;
    text-align: center;
  }
  
  .section_title {
    /* font-size: 2.5rem; */
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .section_subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #f1f1f1;
  }
  
  .skills_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  
  .skill_item {
    width: 80%;
    max-width: 600px;
  }
  
  .skill_name {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .skill_bar {
    width: 100%;
    background-color: #2c3e50;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .skill_progress {
    height: 15px;
    border-radius: 10px;
    transition: width 1s ease-in-out;
  }
  
  .javascript_progress {
    width: 70%;
    background-color: #f0db4f;
  }
  
  .reactjs_progress {
    width: 65%;
    background-color: #61dafb;
  }
  
  .css_progress {
    width: 80%;
    background-color: #264de4;
  }
  
  .nodejs_progress {
    width: 75%;
    background-color: #68a063;
  }
  
  .design_progress {
    width: 70%;
    background-color: #e91e63;
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .skills_container {
      width: 90%;
      margin: 0 auto;
    }
  
    .skill_item {
      width: 100%;
    }
  }
  